.buttons {
  border: 1px solid limegreen;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.buttons:hover,
focus,
active {
  background-color: lime;
}
