.title {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
}

.text {
  font-weight: 600;
  margin-bottom: 5px;
}

.text__key {
  font-weight: 400;
  margin-right: 10px;
}

.text__value__good {
  color: limegreen;
}

.text__value__neutral {
  color: blueviolet;
}

.text__value__bad {
  color: red;
}

.text__value__total {
  color: orange;
  font-size: 20px;
}

.text__value__percentage__good {
  font-size: 32px;
  color: limegreen;
}

.text__value__percentage__bad {
  font-size: 32px;
  color: red;
}
